<div class="mt-4 p-5 bg-black text-white rounded">
  <h1 class="text-center">Wardroom Store Products</h1>
  <p class="text-center">Click on the image of whichever drink or snack you want!</p>
</div>
<hr/>
<ul>
  <% @products.each do |product| %>
    <ul class="text-center">
     <h2><%= product.title %> </h2>
     <h4 class="text-muted"> Price: $<%= product.price %> </h4>
     <p class="text-muted"> Description: <%= product.description %> </p>
      <hr/>
    </ul>
  <% end %>
</ul>